
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&family=Sawarabi+Mincho&family=Zen+Maru+Gothic&display=swap');


/* ローディング画面 */
#loading {
    transition: all 1s;
    background-color: #ddd;
    position: fixed;
    z-index: 9999;
    inset: 0;
    display: grid;
    place-items: center;
    width: 390px;
    height: 900px;
}
.spinner {
    width: 150px;
    height: 150px;
    place-items: center;
}

/* ローディング完了したらローディング画面を隠す */
.loaded {
    opacity: 0;
    visibility: hidden;
}

/*ローディング後*/
body{
    background-color:#c53d43;
    color:#f2edda;
    /*font-family: "Sawarabi Gothic", sans-serif;/*さわらびゴシック*/
    /*font-family: "Sawarabi Mincho", serif;/*さわらび明朝*/
    font-family: "Zen Maru Gothic", serif;/*Zen Maru Gothic*/
    /*font-weight: 400;*/
    font-style: normal;
    font-size: 40px !important;
    text-align: center;
    width: 390px;
}


a:link { color: #333333; } /*訪問したことのないリンク先のリンク色を指定。*/
a:visited { color: #333333;} /*訪問したことあるリンク先のリンク色を指定。*/
a:hover { color: #e6b422;} /*選んでいる状態のリンク色を指定*/

/*表示範囲を確認する枠*/
/*{
    outline: 2px red solid;
}*/


h1{
    font-family: "Zen Maru Gothic", serif;/*Zen Maru Gothic*/
    color: #000;
    font-size: 100px;
    text-align: center;

}

h2{
    font-family: "Zen Maru Gothic", serif;/*Zen Maru Gothic*/
    color: #f2edda;
    font-size: 60px;
    text-align: center;

}


.midashi{
    margin-top: 50%;
    margin-bottom: 300px;
    width: 390px;
    font-size: 20px;
}

/*くじ結果*/
.midashi_kuji{
    margin-top: 5px;
    margin-bottom: 400px;
    width: 390px;
    font-size: 20px;
}

/*おみくじ内容画像の調節*/
.Omikuji_naiyou{
    margin-top: 20%;

  }
/*くじ結果end*/

.Logo{
    margin-bottom: 90px;
}


.btn {
    text-align: center;
    background: #b18309; 
    background: linear-gradient(90deg, #b18309, #cfa836, #b18309); 
    /*color: #ffffff;*/
    box-shadow: 0 5px 0 #584807;
    border-radius: 50vh; 
    padding: 0.5em 1em 0.8em;
    line-height:1;
    display: inline-block;
    width: 200px;
    height: 50px;
    a {
        text-decoration: none;
      }
  }

.text{
    font-size: 20px;
    text-align: center;
}

.guide{
    font-size: 20px;
    text-align: center;
}

.kuji-text{
    font-size: 20px;
    width: 390px;
    height: 0px;
    margin-top: 100px;
}

.select{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 350px;
    color:#333333;
    a {
        text-decoration: none;
      }
}

.btn-malformation {
    color:#333333;
    text-align: center;
    font-size: 20px;
    padding: 2rem 3rem;
    border-radius: 100% 80px / 80px 100%;
    background-color: #b18309;
    background: linear-gradient(90deg, #b18309, #cfa836, #b18309); 
    box-shadow: 0 5px 0 #584807;
    margin: 5px;

}

#Massage,
#Tyuui,
#Card{
    margin-bottom: 290px;
}

#snake0,#snake1,#snake2{
    animation:3s linear infinite rotation1;
    height: 250px;
}
@keyframes rotation1{
    0%{ transform:rotate(0);}
    100%{ transform:rotate(-360deg); }
}

#sna0,#sna1,#sna2{
    margin-top: 100px;
}


.radius {
    font-size: 35px !important;
}

.info {
    font-size: 15px;
    text-align: center;
    width: 390px;
}

.copyright{
    background-color: #fff;
    padding: 1rem 0rem;
    margin-top: 2rem;
    color: #000;
    text-align: center;
    font-size: 15px;
    width: 390px;
    height: 70px;
}

/*----ヘッダーについて----　https://web-camp.io/magazine/archives/88361/　*/
.page-header {
    padding-top: 1%;
    z-index: 100;/* 重なり順を一番上にする */
    position: fixed;
    position: relative;
    top: 0px; left: 0px;
    display: flex;
}


#kujiba{
    margin-top: 7px;
    margin-left: 15px;
    opacity: 0.75;
    position: fixed; /* モーダル内容が画面上に固定されるように設定 */
}
  
.logo {
    font-size: 24px;
    color: #333;
}
  

/******* ここから下がモーダルウィンドウ(くじの結果)に関するCSS 参考；https://zius.speever.jp/blog/web_site_creation/modal-window/#index_id5  ******/  
/* モーダルウィンドウの基本スタイル */
.modal {
    display: none; /* デフォルトでは非表示に設定 */
    position: fixed; /* モーダルがページ全体に固定されるように設定 */
    top: 0; /* ページの最上部からスタート */
    left: 0; /* ページの最左端からスタート */
    width: 100%; /* モーダルが画面全体の幅を占める */
    height: 100%; /* モーダルが画面全体の高さを占める */
    background-color: rgba(0, 0, 0, 0.4); /* 背景を半透明の黒に設定（モーダルの背後が見えるように） */
  }
.modal-content {
    position: fixed; /* モーダル内容が画面上に固定されるように設定 */
    top: 50%; /* 縦方向の中央に配置 */
    left: 50%; /* 横方向の中央に配置 */
    transform: translate(-50%, -50%); /* 完全に中央に配置するための補正 */
    padding: 20px; /* モーダル内の余白を設定 */
    width: 350px; /* モーダルの幅 */
    height: 670px; /* モーダルの高さ */
    background-color: #F2EDDA; /* モーダルの背景色を白に設定 */
    border: 1px solid #888; /* 境界線の色を薄いグレーに設定 */
    border-radius: 10px; /* モーダルの角を丸くするための半径 */
  }


  
  /* モーダルを閉じるボタン（×）のスタイル */
  #closeModal {
    position: absolute; /* モーダル内で絶対位置に配置 */
    display: flex; /* ボタン内のテキストが中央に配置されるようにフレックスボックスを使用 */
    align-items: center; /* ボタン内のテキストを縦方向に中央揃え */
    justify-content: center; /* ボタン内のテキストを横方向に中央揃え */
    top: 100%; /* モーダル内容の上部から離れた位置に配置 */
    right: 39%; /* モーダル内容の右端から離れた位置に配置 */
    font-size: 28px; /* 閉じるボタンのフォントサイズ */
    font-weight: bold; /* 閉じるボタンのフォントを太字に設定 */
    cursor: pointer; /* ホバー時にポインタが表示されるように設定 */
    color: #FFF; /* 閉じるボタンのテキストカラーを白に設定 */
    width: 70px; /* ボタンの幅 */
    height: 40px; /* ボタンの高さ */
    background-color: #333; /* ボタンの背景色をダークグレーに設定 */
    border: #333; /* ボタンの境界線を背景と同じ色に設定 */
    border-radius: 40%; /* ボタンを丸くするための半径 */
  }
